<h1>Addition</h1>
<%=params%>

<dl>
  <dt>First number</dt>
  <dd><%=@first_number %></dd>

  <dt>Second number</dt>
  <dd><%= @second_number %></dd>

  <%@result=@first_number.to_f + @second_number.to_f%>

  <dt>Result</dt>
  <dd><%= @result %></dd>
</dl>


<a href="/add">Do another addition</a>
